<!--The content below is only a placeholder and can be replaced.-->
<div class="wrapper">

  <div class="sidebar">
    
    <input id="search" type="search" placeholder="search" [(ngModel)]="searchStr" />

    <ul class="list">
      <li *ngFor="let client of clients | search:searchStr" 
        [class.selected]="client===selectedClient"
        (click)="onSelect(client)">
        <img src="{{client.general.avatar}}" alt="avatar" >
        <h3>{{client.general.firstName}} {{client.general.lastName}}</h3>
        <p>{{client.job.company}},<br> {{client.job.title}}</p>
      </li>
    </ul>
  </div>

  <div class="info">
    <client-detail [selectedClient]="selectedClient"></client-detail>
  </div>
  
</div>


